Repository akeneo/pim-community-dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akeneo/squad-suricates, @cha-ser, @akeneo/squad-chipmunks

OBS-149: rename routes & bundle names
  components/onboarder-retailer/back/src/Infrastructure/Authentication/ContributorAccount/BuildTwigWelcomeEmail.php
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/config/form_extensions.yml
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/config/requirejs.yml
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/config/routing.yml
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/config/routing/supplier.yml
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/public/js/controller/supplier-management.tsx
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/translations/jsmessages.en_US.yml
  components/onboarder-retailer/back/src/Infrastructure/Symfony/Resources/views/Email/contributor-invitation.html.twig
  components/onboarder-retailer/back/tests/Unit/Infrastructure/Authentication/ContributorAccount/BuildTwigWelcomeEmailTest.php
  components/onboarder-retailer/front/package.json
  components/onboarder-retailer/front/src/feature/SupplierIndex.tsx
  components/onboarder-retailer/front/src/feature/components/CreateSupplier.tsx
  components/onboarder-retailer/front/src/feature/components/DeleteSupplier.tsx
  components/onboarder-retailer/front/src/feature/components/SupplierEdit/ContributorList.tsx
  components/onboarder-retailer/front/src/feature/hooks/useSupplier.ts
  components/onboarder-retailer/front/src/feature/hooks/useSuppliers.ts
  package.json
Owners: @akeneo/squad-suricates

CXP-1197: WIP Limit the number of catalogs per app to 15
  components/catalogs/back/src/Domain/Persistence/IsCatalogsNumberLimitReachedQueryInterface.php
  components/catalogs/back/src/Infrastructure/Persistence/IsCatalogsNumberLimitReachedQuery.php
  components/catalogs/back/src/Infrastructure/Service/GetCatalogsNumberLimit.php
  components/catalogs/back/src/Infrastructure/Symfony/DependencyInjection/AkeneoCatalogsExtension.php
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/services.yml
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/validators.yml
  components/catalogs/back/src/Infrastructure/Validation/MaxLimit.php
  components/catalogs/back/src/Infrastructure/Validation/MaxLimitValidator.php
  components/catalogs/back/src/ServiceAPI/Command/CreateCatalogCommand.php
  components/catalogs/back/tests/Integration/ServiceAPI/Command/CreateCatalogCommandValidationTest.php
Owners: none

Update Version_7_0_20220518134914_set_not_null_fields_for_job_and_step_execution_tables.php
  upgrades/schema/Version_7_0_20220518134914_set_not_null_fields_for_job_and_step_execution_tables.php
Owners: @akeneo/squad-chipmunks

BH-1159: Add pim_tenant_id parameter
  composer.json
  config/services/pim.yml
  src/Akeneo/Tool/Bundle/BatchQueueBundle/MessageHandler/JobExecutionMessageHandler.php
  src/Akeneo/Tool/Bundle/BatchQueueBundle/Resources/config/services.yml
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/GpsReceiver.php
  src/Akeneo/Tool/Component/BatchQueue/Factory/JobExecutionMessageFactory.php
  src/Akeneo/Tool/Component/BatchQueue/Queue/JobExecutionMessage.php
  src/Akeneo/Tool/Component/BatchQueue/Queue/JobExecutionMessageInterface.php
Owners: none

BH-1159: Use APP_TENANT_ID env var
  src/Akeneo/Platform/Bundle/FrameworkBundle/Resources/config/services.yml
  src/Akeneo/Tool/Bundle/BatchQueueBundle/Resources/config/services.yml
Owners: none

BH-1159: Add pim_tenant_id parameter
  src/Akeneo/Tool/Bundle/BatchQueueBundle/tests/integration/Factory/JobExecutionMessageFactoryIntegration.php
  src/Akeneo/Tool/Component/BatchQueue/Factory/JobExecutionMessageFactory.php
  src/Akeneo/Tool/Component/BatchQueue/spec/Factory/JobExecutionMessageFactorySpec.php
Owners: none

BH-1159: Add pim_tenant_id parameter
  config/services/pim.yml
  src/Akeneo/Platform/Bundle/FrameworkBundle/Resources/config/services.yml
Owners: none

BH-1159: Add Messenger TenantIdStamp
  composer.json
  src/Akeneo/Tool/Bundle/MessengerBundle/Serialization/JsonSerializer.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Stamp/TenantIdStamp.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/Client.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/GpsReceiver.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/GpsSender.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/GpsTransport.php
  src/Akeneo/Tool/Bundle/MessengerBundle/Transport/GooglePubSub/GpsTransportFactory.php
  src/Akeneo/Tool/Bundle/MessengerBundle/spec/Serialization/JsonSerializerSpec.php
  src/Akeneo/Tool/Bundle/MessengerBundle/spec/Transport/GooglePubSub/GpsReceiverSpec.php
  src/Akeneo/Tool/Bundle/MessengerBundle/spec/Transport/GooglePubSub/GpsSenderSpec.php
Owners: none

CXP-1197: WIP Limit the number of catalogs per app to 15
  components/catalogs/back/src/Domain/Persistence/IsCatalogsNumberLimitReachedQueryInterface.php
  components/catalogs/back/src/Infrastructure/Persistence/IsCatalogsNumberLimitReachedQuery.php
  components/catalogs/back/src/Infrastructure/Service/GetCatalogsNumberLimit.php
  components/catalogs/back/src/Infrastructure/Symfony/DependencyInjection/AkeneoCatalogsExtension.php
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/services.yml
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/validators.yml
  components/catalogs/back/src/Infrastructure/Validation/MaxLimitPerUser.php
  components/catalogs/back/src/Infrastructure/Validation/MaxLimitPerUserValidator.php
  components/catalogs/back/src/ServiceAPI/Command/CreateCatalogCommand.php
  components/catalogs/back/tests/Integration/ServiceAPI/Command/CreateCatalogCommandValidationTest.php
Owners: none

CXP-1188: clean string
  components/catalogs/front/src/components/CatalogList/CatalogList.test.tsx
Owners: none

PIM-10473: Fix record codes filter by comparing lowercase
  CHANGELOG.md
  src/Akeneo/Pim/Enrichment/ReferenceEntity/Component/Factory/NonExistentValuesFilter/NonExistingReferenceEntitiesSimpleSelectFilter.php
  tests/back/Pim/Enrichment/ReferenceEntity/Specification/Component/Factory/NonExistentValuesFilter/NonExistingReferenceEntitiesSimpleSelectFilterSpec.php
Owners: none

CXP-1197: improve integration test
  components/catalogs/back/src/Infrastructure/Persistence/IsCatalogsNumberLimitReachedQuery.php
  components/catalogs/back/src/Infrastructure/Service/GetCatalogsNumberLimit.php
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/services.yml
  components/catalogs/back/src/Infrastructure/Symfony/Resources/config/validators.yml
  components/catalogs/back/src/Infrastructure/Validation/MaxLimitValidator.php
  components/catalogs/back/tests/Integration/ServiceAPI/Command/CreateCatalogCommandValidationTest.php
Owners: none

CXP-1197: psalm & symfony/validator
  components/catalogs/back/psalm.xml
  components/catalogs/back/src/Infrastructure/Validation/MaxLimit.php
  components/catalogs/back/src/Infrastructure/Validation/MaxLimitValidator.php
Owners: none

PIM-10475: Fix option existence validation for numeric option codes
  CHANGELOG.md
  src/Akeneo/Pim/Enrichment/Component/Product/Validator/Constraints/AttributeOptionsExistValidator.php
  src/Akeneo/Pim/Structure/Bundle/Query/PublicApi/AttributeOption/Cache/LRUCachedGetExistingAttributeOptions.php
  tests/back/Pim/Enrichment/Specification/Component/Product/Validator/Constraints/AttributeOptionsExistValidatorSpec.php
  tests/back/Pim/Structure/Specification/Bundle/Query/PublicApi/AttributeOption/Cache/LRUCachedGetExistingAttributeOptionsSpec.php
Owners: none

PIM-10472: Fix attributes list limit in the family mass edit
  CHANGELOG-5.0.md
  src/Akeneo/Platform/Bundle/UIBundle/Resources/public/js/family/form/attributes/attributes.js
Owners: none

CXP-1189: fix tests
  components/catalogs/back/src/Application/Persistence/UpsertCatalogQueryInterface.php
  components/catalogs/back/src/Infrastructure/Command/CatalogFixtureCommand.php
  components/catalogs/back/src/Infrastructure/Controller/Internal/GetCatalogAction.php
  components/catalogs/back/src/Infrastructure/Persistence/FindOneCatalogByIdQuery.php
  components/catalogs/back/src/Infrastructure/Persistence/GetCatalogsByOwnerUsernameQuery.php
  components/catalogs/back/src/Infrastructure/Persistence/UpsertCatalogQuery.php
  components/catalogs/back/src/Infrastructure/Security/GetCurrentUsernameTrait.php
  components/catalogs/back/tests/Acceptance/ApiContext.php
  components/catalogs/back/tests/Integration/Infrastructure/Controller/Internal/GetCatalogsByOwnerActionTest.php
  components/catalogs/back/tests/Integration/Infrastructure/Controller/Public/DeleteCatalogActionTest.php
  components/catalogs/back/tests/Integration/Infrastructure/Controller/Public/GetCatalogActionTest.php
  components/catalogs/back/tests/Integration/Infrastructure/Controller/Public/UpdateCatalogActionTest.php
  components/catalogs/back/tests/Integration/ServiceAPI/Command/CreateCatalogCommandValidationTest.php
  components/catalogs/front/src/FakeCatalogEditContainer.tsx
  components/catalogs/front/src/components/CatalogEdit/components/Edit.tsx
  components/catalogs/front/src/index.tsx
Owners: none

OCT-63: Experimental test database
  components/catalogs/back/phpunit.xml.dist
  composer.json
  config/bundles.test.php
  docker-compose.yml
  tests/back/Integration/IntegrationTestsBundle/Loader/FixturesLoader.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/DependencyInjection/DoctrineDriverWithAutoTransactionCompilerPass.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticConnection.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticConnectionFactory.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticDriver.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticRegistry.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/PHPUnit/Extension.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/PHPUnitDoctrineTransactionBundle.php
Owners: none

[Crowdin] Updated translations
  src/Akeneo/Pim/WorkOrganization/Workflow/Bundle/Resources/translations/jsmessages.de_DE.yml
Owners: none

[Crowdin] Updated translations
  src/Akeneo/ReferenceEntity/back/Infrastructure/Symfony/Resources/translations/jsmessages.de_DE.yml
Owners: none

[Crowdin] Updated translations
  grth/src/Akeneo/Pim/TableAttribute/back/Infrastructure/Symfony/Resources/translations/jsmessages.fi_FI.yml
  src/Akeneo/Pim/WorkOrganization/Workflow/Bundle/Resources/translations/jsmessages.de_DE.yml
  src/Akeneo/ReferenceEntity/back/Infrastructure/Symfony/Resources/translations/jsmessages.de_DE.yml
Owners: none

OCT-63: cleanup
  components/catalogs/back/phpunit.xml.dist
  tests/back/Integration/IntegrationTestsBundle/Loader/FixturesLoader.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/DependencyInjection/DoctrineDriverWithAutoTransactionCompilerPass.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/ConnectionDecorator.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/ConnectionDecoratorFactory.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/DriverDecorator.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticDoctrineRegistry.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/Doctrine/StaticRegistry.php
  tests/back/Integration/PHPUnitDoctrineTransactionBundle/PHPUnit/Extension.php
Owners: none

Adjust request to limit (#13893)
  deployments/terraform/helm.tf
Owners: none

.github/CODEOWNERS:

# More info here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Onboarder code base
components/onboarder-retailer/ @akeneo/squad-suricates
## Onboarder CI
.circleci/workflows/squads/suricates.yml @cha-ser @akeneo/squad-suricates
.circleci/jobs/features/onboarder/ @cha-ser @akeneo/squad-suricates
## Onboarder makefile
make-file/onboarder-serenity.mk @akeneo/squad-suricates
## Product Database Migrations
upgrades/schema/ @akeneo/squad-chipmunks
